<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SpaceFlightTool Settings</title>
    <script src="local-lib/vue.js"></script>
    <script src="local-lib/jquery.slim.min.js"></script>
    <script src="local-lib/popper.min.js"></script>
    <script src="local-lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="local-lib/bootstrap.min.css">
    <style>
        .mainbar {
            margin: 1%
        }
        .config_item {
            margin: 1%
        }
        .card {
            width: 90vw;
            float: none;
            margin: auto;
        }
        #saveSetting {
            float: left;
            margin-left: 10px;
            margin-top: 10px;
        }
        #login {
            float: right;
            margin-right: 10px;
            margin-top: 10px;
        }
        #view_data3 {
            margin: 20px;
        }
        #showTheHelp {
            float: left;
            margin-left: 20px;
            margin-top: 20px;
        }
        #showTheAbout {
            float: right;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
                        <a class="navbar-brand" href="index.html">返回</a>
                    </nav>
                </div>
            </div>
            <div class="row mainbar">
                <div class="card border-primary">
                    <div class="card-body" id="view_data2">
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text description" data-toggle="tooltip" title="SpaceTrack.Org的用户名">用户名</span>
                            </div>
                            <input type="string" class="form-control" v-model="username" id="usernameData">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text description" data-toggle="tooltip" title="SpaceTrack.Org的密码">密码</span>
                            </div>
                            <input type="password" class="form-control" v-model="password" id="passwordData">
                        </div>
                        <button type="button" class="btn btn-primary" id="saveSetting" @click="applyChanges()">应用设定</button>
                        <button type="button" class="btn btn-primary" id="login" @click="applyLogin()">登录</button>
                    </div>
                    <div id="view_data3">
                        <button type="button" class="btn btn-primary" id="showTheHelp" @click="showHelp">Help</button>
                        <button type="button" class="btn btn-primary" id="showTheAbout" @click="showAbout">About</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const {ipcRenderer, remote} = require('electron');

    const help = {
        body: '一个可以对所有非保密在轨物体进行轨道信息获取和跟踪的软件\n' +
        '通过对SpaceTrack.Org进行访问，获取当前的最新TLE，并调用satellite.js库\n' +
        '对TLE数据进行解析计算，得到当前位置',
    };

    const about = {
        body: '一个noob的首次electron尝试\nemail:victorguo23@hotmail.com',
    };

    const current = new Date();

    // --------------------------------------------------------------
    function generateTmp() {
        tmp.username = tmp.cache.username;
        tmp.password = tmp.cache.password;
        tmp.TLE = tmp.cache.TLE;
    }

    function currentDate() {
        return current.toString();
    }

    function generateBody() {
        return {
            username: tmp.username,
            password: tmp.password
        };
    }

    function generateCommu(head) {
        if (head === 'getUserData') {
            return {head: 'getUserData', body: 'none'};
        } else if (head === 'updateUserData') {
            return {head: 'updateUserData', body: generateBody()};
        } else if (head === 'applyLogin') {
            return {head: 'applyLogin', body: generateBody()};
        }
    }

    function queryCache() {
        ipcRenderer.send('RTOM', generateCommu('getUserData'));
    }

    function updateCache() {
        ipcRenderer.send('RTOM', generateCommu('updateUserData'));
    }

    function doLogin() {
        ipcRenderer.send('RTOM', generateCommu('applyLogin'));
    }

    function canUpdate() {
        if (!tmp.exists) {
            return true;
        }
        const response = remote.dialog.showMessageBox(remote.getCurrentWindow(), {
            message: 'Do you want to save the current document?',
            type: 'question',
            buttons: ['Yes', 'No']
        });
        return response === 0;
    }

    // ------------------------------------------------------------------------

    let tmp = {
        currentDate: currentDate(),
        username: null,
        password: null,
        TLE: {
            data:[]
        },
        exists: false,
        cache: null,
    };

    queryCache();

    ipcRenderer.on('MTOR', (event, arg) => {
        switch (arg.head) {
            case 'userData': {
                if (arg.body.exists) {
                    tmp.exists = true;
                    tmp.cache = arg.body.data;
                    generateTmp();
                    document.getElementById("usernameData").value = tmp.username;
                    document.getElementById("passwordData").value = tmp.password;
                }
                break;
            }
            case 'alertMsg': {
                alert(arg.body.msg)
                break;
            }
            default: break;
        }
    });

    const vm_view2 = new Vue({
        el: '#view_data2',
        data: tmp,
        methods: {
            applyChanges: function () {
                if (canUpdate()) {
                    updateCache();
                    alert('已更新登录信息！')
                }
            },
            applyLogin: function () {
                doLogin();
            }
        }
    });

    const vm_view3 = new Vue({
        el: '#view_data3',
        methods: {
            showHelp: function () {
                alert(help.body);
            },
            showAbout: function () {
                alert(about.body);
            }
        }
    });

</script>
</html>
