<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tracking Page</title>
    <link rel="stylesheet" href="local-lib/css/vuetify.min.css">
    <link rel="stylesheet" href="local-lib/css/material.css">
    <link rel="stylesheet" href="local-lib/css/leaflet.css"/>
    <script src="local-lib/js/vue.js"></script>
    <script src="local-lib/js/vuetify.js"></script>
    <script src="local-lib/js/leaflet.js"></script>
    <script src="local-lib/js/Leaflet.Antimeridian.js"></script>
    <script src="local-lib/js/L.Terminator.js"></script>
    <script src="local-lib/js/sun40.js"></script>
</head>
<style>

    html { overflow-y: auto }

    #app {
        height: 340px;
    }

    #map {
        width: 80%;
        height: 400px;
        margin: auto;
    }

</style>
<body>
    <div id="app">
        <v-app>
            <v-container fluid grid-list-md>
                <v-layout row warp>
                    <v-flex v-for="item in items" xs4 md4>
                        <v-card>
                            <v-card-title>
                                <h4>{{ item.title }}</h4>
                            </v-card-title>
                            <v-divider></v-divider>
                            <v-list dense v-for="data in item.data">
                                <v-list-tile>
                                    <v-list-tile-content>{{ data.title + ':' }}</v-list-tile-content>
                                    <v-list-tile-content class="align-end">{{ data.value }}</v-list-tile-content>
                                </v-list-tile>
                            </v-list>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-layout row>
                <v-switch label="Auto Focus" v-model="autoF"></v-switch>
                <v-btn color="primary" @click="showAbout">About</v-btn>
                </v-layout>
            </v-container>
        </v-app>
    </div>
    <div id="map"></div>
</body>
<script>

    const { ipcRenderer, shell } = require('electron');
    const satellite = require('satellite.js');

    ipcRenderer.on('MTOR', (event, arg) => { // Callback event when detecting a MTOR event.
        switch (arg.head) {
            case 'objectTrack': {
                trackObject(arg)
                break;
            }
            default: break;
        }
    });

    let mymap = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets'
    }).addTo(mymap);

    let marker = L.marker([0, 0]);

    function getTLETime(temp) {
      var year = parseInt('20' + temp.substr(0,2)),
          days = parseInt(temp.substr(2,3)),
          Feb = 0,
          month = 0,
          day = 0,
          fracDay = (parseFloat(temp) - parseInt(temp)) * 86400,
          hr = 0,
          min = 0,
          s = 0;
      if ((year % 4 === 0) && (year % 400 === 0)) Feb = 1;
      switch (true) {
        case days <= 31: {
          month = 1;
          day = days;
          break;
        }
        case days <= 59: {
          month = 2;
          day = days - 31;
          break;
        }
        case days <= (90 + Feb): {
          month = 3;
          day = days - (59 + Feb);
          break;
        }
        case days <= (120 + Feb): {
          month = 4;
          day = days - (90 + Feb);
          break;
        }
        case days <= (151 + Feb): {
          month = 5;
          day = days - (120 + Feb);
          break;
        }
        case days <= (181 + Feb): {
          month = 6;
          day = days - (151 + Feb);
          break;
        }
        case days <= (212 + Feb): {
          month = 7;
          day = days - (181 + Feb);
          break;
        }
        case days <= (243 + Feb): {
          month = 8;
          day = days - (212 + Feb);
          break;
        }
        case days <= (273 + Feb): {
          month = 9;
          day = days - (243 + Feb);
          break;
        }
        case days <= (304 + Feb): {
          month = 10;
          day = days - (273 + Feb);
          break;
        }
        case days <= (334 + Feb): {
          month = 11;
          day = days - (304 + Feb);
          break;
        }
        case days <= (365 + Feb): {
          month = 12;
          day = days - (334 + Feb);
          break;
        }
      }
      hr = parseInt(fracDay / 3600);
      min = parseInt((fracDay - 3600 * hr) / 60);
      s = (fracDay - 3600 * hr - 60 * min).toFixed(1);
      let time = year + '.' + month + '.' + day + ' ' + hr + ':' + min + ':' + s;
      return time;
    }

    let prevPeriodmarker = L.marker;
    let nextPeriodmarker = L.marker;
    let prevOrbit;
    let nextOrbit;

    function dayNightSun() {
        let sunOverlay = null;
        let t = L.terminator();
        if (sunOverlay != null) {
            mymap.removeLayer(sunOverlay);
        }
        sunOverlay = getSunOverlay();
        sunOverlay.addTo(mymap);
        t.addTo(mymap);
    }

    dayNightSun();

    const app = new Vue({
        el: "#app",
        data: () => ({
            items: [
                {
                    title: "Basic Info",
                    data: [
                        { title: 'ID', key: 'id', value: null},
                        { title: 'Name', key: 'name', value: ''},
                        { title: 'Int\' ID', key: 'itlid', value: ''},
                        { title: 'Time', key: 'time', value: ''}
                    ]
                },
                {
                    title: "Orbit Info",
                    data: [
                        { title: 'Period', key: 'period', value: ''},
                        { title: 'Inclination', key: 'inc', value: ''},
                        { title: 'Pe', key: 'pe', value: ''},
                        { title: 'Ap', key: 'ap', value: ''}
                    ]
                },
                {
                    title: "Real-time Track",
                    data: [
                        { title: 'Longitude', key: 'lon', value: ''},
                        { title: 'Latitude', key: 'lat', value: ''},
                        { title: 'Height', key: 'hei', value: ''},
                        { title: 'Velocity', key: 'vel', value: ''}
                    ]
                }
            ],
            line1: '',
            line2: '',
            autoF: false
        }),
        methods: {
            generatePos: function() {
                setKeyValue('lon', calculateElements('lon', this.line1, this.line2));
                setKeyValue('lat', calculateElements('lat', this.line1, this.line2));
                setKeyValue('hei', calculateElements('hei', this.line1, this.line2));
                setKeyValue('vel', calculateElements('vel', this.line1, this.line2));
                GetMap();
                generateObjOrbit(this.line1, this.line2);
            },
            autoPos: function() {
                window.setInterval(function() {
                    app.generatePos();
                }, 2 * 1e3);
            },
            showAbout: function() {
                shell.openExternal('https://nssdc.gsfc.nasa.gov/nmc/spacecraftDisplay.do?id=' + getKeyValue('itlid'));
            }
        }
    });

    function getKeyValue(key) {
        for (let item in app.items) {
            for (let i in app.items[item].data) {
                if (app.items[item].data[i].key === key) return app.items[item].data[i].value;
            }
        }
    }

    function setKeyValue(key, value) {
        for (let item in app.items) {
            for (let i in app.items[item].data) {
                if (app.items[item].data[i].key === key) app.items[item].data[i].value = value;
            }
        }
    }

    function trackObject(arg) {
        setKeyValue('id', arg.body.id);
        setKeyValue('name', arg.body.name);
        setKeyValue('itlid', arg.body.itlid);
        app.line1 = arg.body.line1;
        app.line2 = arg.body.line2;
        setKeyValue('period', calculateElements('period', arg.body.line1, arg.body.line2));
        setKeyValue('inc', calculateElements('inc', arg.body.line1, arg.body.line2));
        setKeyValue('pe', calculateElements('pe', arg.body.line1, arg.body.line2));
        setKeyValue('ap', calculateElements('ap', arg.body.line1, arg.body.line2));
        setKeyValue('time', calculateElements('time', arg.body.line1, arg.body.line2));
        generateObjOrbit(app.line1, app.line2);
        app.generatePos();
        app.autoPos();
    }

    function calculateElements(keyword,line1,line2) {
        let rpd = parseFloat(line2.substr(52,11)),
            inc = parseFloat(line2.substr(8,8)) + '°',
            ecc = parseFloat('0.' + line2.substr(26,7));
        let semiaxis = Math.pow((3.9778e+14 * Math.pow((86400 / rpd),2)) / (4 * Math.pow(3.14159265,2)),(1 / 3)),
            semifod = ecc * semiaxis,
            pe = ((semiaxis - semifod - 6371393) / 1000).toString().substr(0,7) + ' km',
            ap = ((semiaxis + semifod - 6371393) / 1000).toString().substr(0,7) + ' km';
        let satrec = satellite.twoline2satrec(line1, line2);
        let positionAndVelocity = satellite.propagate(satrec, new Date());
        let positionEci = positionAndVelocity.position,
            velocityEci = positionAndVelocity.velocity;
        let now = new Date();
        let gmst = satellite.gstime(now);
        let positionEcf   = satellite.eciToEcf(positionEci, gmst),
            positionGd    = satellite.eciToGeodetic(positionEci, gmst);
        let longitude = positionGd.longitude,
            latitude  = positionGd.latitude,
            height    = positionGd.height;
        if (longitude < -Math.PI) {
            longitude = 2 * Math.PI + longitude;
        }
        if (longitude > Math.PI) {
            longitude = longitude - 2 * Math.PI;
        }
        let longitudeStr = satellite.degreesLong(longitude),
            latitudeStr  = satellite.degreesLat(latitude),
            velocity = Math.sqrt(Math.pow(velocityEci.x,2) + Math.pow(velocityEci.y,2) + Math.pow(velocityEci.z,2));
        let lonsym = '° E',
            latsym = '° N';
        if (longitudeStr < 0) {
            lonsym = '° W';
            longitudeStr = Math.abs(longitudeStr);
        }
        if (latitudeStr < 0) {
            latsym = '° S';
            latitudeStr = Math.abs(latitudeStr);
        }
        let lon = longitudeStr.toFixed(3) + lonsym,
            lat = latitudeStr.toFixed(3) + latsym,
            hei = height.toFixed(3) + ' km',
            vel = velocity.toFixed(3) + ' km/s';
        switch (keyword) {
            case 'period': {
                let period = (1440 / rpd).toString().substr(0,7) + ' min';
                return period;
            }
            case 'inc': {
                return inc;
            }
            case 'pe': {
                return pe;
            }
            case 'ap': {
                return ap;
            }
            case 'time': {
                let time = getTLETime(line1.substr(18,14));
                return time;
            }
            case 'lon': {
                return lon;
            }
            case 'lat': {
                return lat;
            }
            case 'hei': {
                return hei;
            }
            case 'vel': {
                return vel;
            }
            default: return;
        }
    }

    function getSpecificLocAtTime(line1, line2, tmpTime) {
        let satrec = satellite.twoline2satrec(line1, line2);
        let time = new Date();
        time.setTime(tmpTime);
        let positionAndVelocity = satellite.propagate(satrec, time);
        let positionEci = positionAndVelocity.position;
        let gmst = satellite.gstime(time);
        let positionGd = satellite.eciToGeodetic(positionEci, gmst);
        let longitude = positionGd.longitude,
            latitude  = positionGd.latitude;
        if (longitude < -Math.PI) longitude = 2*Math.PI + longitude;
        if (longitude > Math.PI) longitude = longitude - 2*Math.PI;
        let longitudeStr = satellite.degreesLong(longitude),
            latitudeStr  = satellite.degreesLat(latitude);
        return [latitudeStr, longitudeStr]
    }

    function generateObjOrbit(line1, line2) {
        let rpd = parseFloat(line2.substr(52,11));
        let periodMS = parseInt((86400 / rpd) * 1000);
        let periodMin = (1440 / rpd).toFixed(2);
        let objOrbitArrayPrev = [];
        let objOrbitArrayNext = [];
        let nowTimeMS = new Date().getTime();
        let n = 1000;
        for (let i = 0; i <= n; i++) {
            let tmpTimePrev = nowTimeMS - (periodMS / 1000) * i;
            let tmpTimeNext = nowTimeMS + (periodMS / 1000) * i;
            let locationPrev = getSpecificLocAtTime(line1, line2, tmpTimePrev);
            let locationNext = getSpecificLocAtTime(line1, line2, tmpTimeNext);
            objOrbitArrayPrev.push(locationPrev);
            objOrbitArrayNext.push(locationNext);
        }
        prevPeriodmarker = L.marker(getSpecificLocAtTime(line1, line2, nowTimeMS - periodMS), {
            title: `-${periodMin}分钟`
        }).addTo(mymap);
        nextPeriodmarker = L.marker(getSpecificLocAtTime(line1, line2, nowTimeMS + periodMS), {
            title: `+${periodMin}分钟`
        }).addTo(mymap);
        prevOrbit = new L.Wrapped.Polyline(objOrbitArrayPrev, {
            color: 'yellow',
            weight: 2,
            opacity: 0.7,
            noWrap: true
        }).addTo(mymap);
        nextOrbit = new L.Wrapped.Polyline(objOrbitArrayNext, {
            color: 'red',
            weight: 2,
            opacity: 0.7,
            noWrap: true
        }).addTo(mymap);
    }

    function GetMap() {
        let lonh = getKeyValue('lon'),
            lath = getKeyValue('lat');
        let lon = parseFloat(lonh.substr(0, lonh.indexOf('°',0))),
            lat = parseFloat(lath.substr(0, lath.indexOf('°',0)));
        if (lonh.charAt(lonh.length-1) === 'W') lon = -lon;
        if (lath.charAt(lath.length-1) === 'S') lat = -lat;
        mymap.removeLayer(marker);
        mymap.removeLayer(prevPeriodmarker);
        mymap.removeLayer(nextPeriodmarker);
        mymap.removeLayer(prevOrbit);
        mymap.removeLayer(nextOrbit);
        marker = L.marker([lat, lon], {title: `当前位置`});
        mymap.addLayer(marker);
        if (app.autoF === true) mymap.setView([lat, lon]);
    }

</script>
</html>
